.mui-content {
				height: 100%;
				padding: 0px 0px 50px 0px;
				overflow: auto;
				background-color: #eaeaea;
			}
footer {
				position: fixed;
				width: 100%;
				height: 50px;
				min-height: 50px;
				border-top: solid 1px #bbb;
				left: 0px;
				bottom: 0px;
				overflow: hidden;
				padding: 0px 50px;
				background-color: #fafafa;
			}
.footer-center {
				height: 100%;
				padding: 5px 0px;
			}
			#msg-sound{
				width: 100%;
			}